<body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div  class="header-image" > <img src="assets/img/Logo.png" alt=""></div>
                      <mat-card-title>Pavithra Herath</mat-card-title>
                      <mat-card-subtitle>Developer</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/img/pavithra.jpg" alt="Photo sukitha">
                    <mat-card-content>
                      <p>
                        Mechatronics Engineering graduate from Sri Lanka Institute of Information Technology. Experienced in Front-End web development using HTML,CSS,Angular,javaScripts. 
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://www.linkedin.com/in/pavithraherath1996/" target="_blank" class="btn btn-primary" style="margin-right: 10px;">Linkedin</a>
    
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary">Facebook</a>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col">
               
            </div>
            <div class="col"> 
                <mat-card class="example-card">
                <mat-card-header>
                  <div  class="header-image" > <img src="assets/img/Logo.png" alt=""></div>
                  <mat-card-title>Yasiru Lakshitha</mat-card-title>
                  <mat-card-subtitle>Developer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/yasiru.jpg" alt="Photo sukitha">
                <mat-card-content>
                  <p>
                    I am an undergraduate student of Information and communication technology at the University of Ruhuna.
                    who is self-motivated and quick learning.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://www.linkedin.com/in/yasiru-lakshitha-153a5014b/" target="_blank" class="btn btn-primary" style="margin-right: 10px;">Linkedin</a>

                    <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary">Facebook</a>
                </mat-card-actions>
              </mat-card></div>
        </div>
    </div>
</body>
