<body class="bg-secondary">
    
<div class="container-fluid" >
    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%; margin-top: 20px;">
                <img src="assets/img/directors4.jpg" class="card-img-top" alt="..." style='height: 380px;' >
                <div class="card-body">
                  <h1 class="card-title">Directors</h1>
                  <p class="card-text">The Directors responsible for protecting clients’ interests, establishing policies for management, oversight of the company, and making decisions about important issues a company faces.</p>
                  <a routerLink ='/directors' class="btn btn-primary">More About Directors</a>
                </div>
              </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 100%;  margin-top: 20px;">
                <img src="assets/img/developers2.jpg" class="card-img-top" alt="..." style='height: 380px;' >
                <div class="card-body">
                  <h1 class="card-title">Developers</h1>
                  <p class="card-text"> Developer will be involved in liaising with the Business Directors to ensure projects meet requirements and help to bring the company ideas to life.</p>
                  <a routerLink ='/developers' class="btn btn-primary">More About Developers</a>
                </div>
              </div>
        </div>
    </div>
</div>

    
</body>

