<body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col ">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div  class="header-image" > <img src="assets/img/Logo.png" alt=""></div>
                      <mat-card-title>Sukitha Jayasinghe</mat-card-title>
                      <mat-card-subtitle>Software Architect</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/img/sukitha.jpg" alt="Photo sukitha">
                    <mat-card-content>
                      <p>
                        Experienced Software Architect with a demonstrated history of working in the computer software industry. Strong arts and design professional skilled in Session Initiation Protocol (SIP), DevOps, Design patterns, nodejs golang and c#. 
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://lk.linkedin.com/in/sukithachanaka" target="_blank" class="btn btn-primary" style="margin-right: 10px;">Linkedin</a>
    
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary">Facebook</a>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div  class="header-image" > <img src="assets/img/Logo.png" alt=""></div>
                      <mat-card-title>Anuradha Malalasena</mat-card-title>
                      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/img/anuradha.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Tech Lead, graduated from University of Moratuwa - Sri Lanka. Passionate about software development based on Microsoft Technologies Stack and willing to take on challenges.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://www.linkedin.com/in/bamalalasena/" class="btn btn-primary" target="_blank" style="margin-right: 10px;" >Linkedin</a>
                        <a href="https://www.facebook.com/" class="btn btn-primary" target="_blank">Facebook</a>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col">
                
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div  class="header-image" > <img src="assets/img/Logo.png" alt=""></div>
                          <mat-card-title>Chamin De Silva</mat-card-title>
                          <mat-card-subtitle>Software Engineer</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/img/chamin.jpg" alt="Photo sukitha">
                        <mat-card-content>
                          <p>
                            Experienced Technical Team Lead with a demonstrated history of working in the computer software industry. Skilled in Java, Angular, PHP, Erlang, R, and Linux. graduated from CSE, University of Moratuwa and UCSC, University of Colombo.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                         <a href="https://www.linkedin.com/in/chamindesilva/" class="btn btn-primary" target="_blank" style="margin-right: 10px;"> Linkedin</a>
                          <a href="https://www.facebook.com/" class="btn btn-primary" target="_blank">Facebook</a>
                        </mat-card-actions>
                      </mat-card>
            </div>
        </div>
    </div>
</body>

